@import '../common.less';
.membershippage {
  font-size: 12px;
  text-align: center;
}
.keepRight {
  text-align: right;
}
.keepLeft {
  text-align: left;
}
.userInfoBox {
  width: 100%;
  height: 286px;
  background: @bgColor; 
}
  .userInfoinnerBox {
    width: 1140px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .userinfo{
      display: flex;
      justify-content: flex-start;
      padding-top: 56px;
      img{
        width: 151px;
        height: 151px;
        border-radius: 50%;
      }
      .info {
        width: 344px;
        margin-left: 32px;
        text-align: left;
      }
      .info .user_name{
        font-size: 18px;
        font-weight: 300;
      }
      .info .user_bio, .info .user_words{
        margin-top: 12px;
      }
    }
    .levelcard {
      padding-top:32px;
      .card {
        width: 364px;
        height: 193px;
        position: relative;
        background: transparent;
        border: 0;
      }
      .card img {
        widows: 100%;
      }
      .card .cardinfo {
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        padding:12px 22px 17px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
      }
      .cardinfo .userStart .name {
        font-size: 14px;
      }
      .cardinfo .currentLevel {
        font-size: 20px;
      }
      .userEnd a:hover {
        text-decoration: underline;
      }
    }
  }
.page-content {
  margin-top: @descSpace;
}
.col-auto {
  width: 25%;
  margin-top: 77px;
  .nav-tabs .nav-link.active {
    border: 0;
    color: #1c1c1c;
    font-weight: 700;
    background: transparent;
    box-sizing: border-box;
    padding: 0;
  }
}
.page-right {
  .title-part {
    font-size: 20px;
    font-weight: 300;
  }
  #rankbox {
    margin-bottom: 20px;
  }
  .levelinfo {
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    .levelBenefits, .userleveldes {
      width: 49.5%;
      height: 300px;
      background: @bgColor;
    }
    .levelBenefits {
      padding: 10px;
    }
    .levelBenefitscon {
      background: #fff;
      padding: 5px;
      width: 100%;
      height: 100%;
    }
    .leveltitle {
      font-weight: 700;
    }
    .Member-failure {
      font-weight: 300;
      margin-top: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .tointro{
      width: 18px;
      height: 18px;
      border-radius: 50%;
      margin-left: 6px;
      line-height: 18px;
      margin-bottom: 2px;
    }
    .tointro img{
      width: 16px;
    }
    .current-L {
      width: 276px;
      height: 69px;
      margin: 10px auto 0;
    }
    .level-rights {
      padding-left: 0;
      list-style: none;
      text-align: left;
      margin-left: 100px;
      margin-top: 20px;
    }
    .levelrightsliat span{
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #000;
      margin-right: 15px;
    }
  }
  .userleveldes {
    padding: 10px;
  } 
  .conbox{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 144px;
    .con {
      position: relative;
      height: 144px;
      width: 144px;
      border-radius: 50%; 
    }
    .percent-circle {
      position: absolute;
      height: 144px;
      width: 144px;
      border-radius: 50%;
    }
    .percent-circle.gold {
      background: #D3B880;
    }
    .percent-circle.bronze {
      background: #D3A38B;
    }
    .percent-circle.sliver {
      background: #959595;
    }
    .percent-circle.platinum {
      background: #E6E6E6;
    }
    .left-content, .right-content {
      position: absolute;
      height: 144px;
      width: 144px;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0px 0px 1px 1px #f5f5f5;
    }
    .percent-circle-right, .right-content {
      clip: rect(0, auto, auto, 72px);
    }
    .percent-circle-left, .left-content {
      clip: rect(0, 72px, auto, 0);
    }
    .text-circle {
      position: absolute;
      top: 12px;
      left: 12px;
      height: 120px;
      width: 120px;
      background: @bgColor;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }   
    .percentage {
      font-size: 24px;
      font-weight: 700;
    }
    .txt {
      font-size: @font-size;
    }
    .condes {
      font-size: 14px;
      font-weight: 700;
      margin-left: 16px;
      text-align: left;
    }   
    .level-rights {
      padding-left: 0;
      list-style: none;
      text-align: left;
      margin-top: 20px;
      font-weight: 100;
      margin-left: 0;
      font-size: @font-size;
    }
    .levelrightsliat span{
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #000;
      margin-right: 15px;
    }
  }
  .userleveldes .Member-failure br{
    display: none;
  }
  .toleveldes {
    display: block;
    margin-top: 20px;
  }
  .toleveldes:hover {
    text-decoration: underline;
  }
  .num-days {
    margin-top: @descSpace-s;
  }
  #consume-box {
    margin-top: @descSpace;
    .title-part{
      font-size: 20px;
      font-weight: 300;
    }
    #consume-title {
      width: 100%;
      height: 34px;
      margin-top: 36px;
      text-align: left;
      border-bottom: 1px solid #ededed;
    }
    #consume {
      padding: 0;
      height: 756px;
    }
    #consume li {
      list-style: none;
      width: 100%;
      line-height: 65px;
      border-bottom: 0.5px solid #ededed;
      .record_info{
        text-align: left;
        width: 100%;
        overflow: hidden;
      }
      .consume-item {
        background: #fff;
        height:96px;
        padding-right: 30px;
        .openitem {
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
        .openitem li{
          line-height: 32px;
          border: 0;
          display: flex;
          justify-content: flex-end;
          width: 200px;
        }
        .openitem .itemtitle, .openitem .itemcon{
          flex: 1;
        }
      }
      .see-more {
        box-sizing: border-box;
        cursor: pointer;
      }
      .see-more img {
        width: 9px;
        transform: rotate(90deg);
        -ms-transform:rotate(90deg); 	/* IE 9 */
        -moz-transform:rotate(90deg); 	/* Firefox */
        -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
        -o-transform:rotate(90deg); 
      }
      .see-more img.active {
        width: 9px;
        transform: rotate(0deg);
        -ms-transform:rotate(0deg); 	/* IE 9 */
        -moz-transform:rotate(0deg); 	/* Firefox */
        -webkit-transform:rotate(0deg); /* Safari 和 Chrome */
        -o-transform:rotate(0deg); 
      }
    }
  }
  .page-item.active .page-link {
    color: @fontColor;
    border: 0;
    background-color: #ebebeb;
    outline: none;
    box-shadow: none;
  }
  .pagination>li>a, .pagination>li>span{
    color: @fontColor;
    outline: none;
    box-shadow: none;
    margin-left:1px;
    border: 0;
    box-sizing: border-box;
  }
  .page-item.disabled .page-link {
    margin-left:1px;
    border: 0;
  }
  .page-item.active .page-link:focus {
    outline: none;
    box-shadow: none;
  }
}
@media(max-width: 1199px) {
  .membershippage {
    width: 100%;
  }
  .userInfoBox {
    height: 280px;
  }
  .userInfoinnerBox {
    width: 100%;
    height: 100%;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    .userinfo {
      padding-top: 15px;
      display: block;
      img {
        width: 80px;
        height: 80px;
      }
      .info {
        width: 100%;
        margin: 20px auto 0;
        text-align: center;
      }
    }
    .levelcard {
      display: none;
    }
  }
  .page-content {
    margin-top:10px;
    padding:  10px;
  }
  .col-auto {
    width: 100%;
    margin-top: 0;
    line-height: 36px;
    .nav-item {
      text-align: center;
      border: @border;
    }
  }
  .page-right {
    width: 100%;
    margin-top: 20px;
    .levelinfo {
      margin-top: 20px;
      flex-direction: column;
      align-content: center;
      .levelBenefits, .userleveldes {
        width: 100%;
        height: auto;
      }
      .current-L img {
        width: 90%;
      }
      .level-rights {
        margin-left: 50px;
      }
    }
    .userleveldes {
      margin-top: 10px;
    }
    .conbox {
      margin-top: 20px;
      display: block;
      height: auto;
      .con {
        margin: 0 auto;
      }
      .condes {
        margin-left: unset;
        margin-top: 15px;
        text-align: center;
      }
      .condes br {
        display: none;
      }
      .level-rights {
        margin-top: 15px;
        margin-left: 55px;
      }
    }
    .userleveldes .Member-failure br{
      display: block;
    }
    .num-days {
      margin-top: 30px;
    }
    #consume-box {
      margin-top: 40px;
      #recordbox {
        width: 100%;
        overflow-x: scroll;
      }
      #consume-title {
        margin-top: 20px;
        width: 500px;
      }
      #consume {
        width: 500px;
      }
    }
  }
}