@import '../common.less';
* {
  font-size: @font-size;
}
.membershippage {
  text-align: center;
}
.keepRight {
  text-align: right;
}
.keepLeft {
  text-align: left;
}
.activeimg {
  transform: rotate(180deg);
  -ms-transform:rotate(180deg); 	/* IE 9 */
  -moz-transform:rotate(180deg); 	/* Firefox */
  -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
  -o-transform:rotate(180deg); 
}
.activeimg.active {
  transform: rotate(0deg);
  -ms-transform:rotate(0deg); 	/* IE 9 */
  -moz-transform:rotate(0deg); 	/* Firefox */
  -webkit-transform:rotate(0deg); /* Safari 和 Chrome */
  -o-transform:rotate(0deg); 
}
.mobile-only {
  display: none;
}
.userInfoBox {
  width: 100%;
  height: 286px;
  background: @bgColor; 
}
  .userInfoinnerBox {
    width: 1140px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .userinfo{
      display: flex;
      justify-content: flex-start;
      padding-top: 56px;
      img{
        width: 151px;
        height: 151px;
        border-radius: 50%;
      }
      .info {
        width: 344px;
        margin-left: 32px;
        text-align: left;
      }
      .info .user_name{
        font-size: 18px;
        font-weight: 300;
      }
      .info .user_bio, .info .user_words{
        margin-top: 12px;
      }
    }
    .levelcard {
      padding-top:32px;
      .card {
        width: 364px;
        height: 193px;
        position: relative;
        background: transparent;
        border: 0;
      }
      .card img {
        widows: 100%;
      }
      .card .cardinfo {
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        padding:12px 22px 17px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
      }
      .cardinfo .userStart .name {
        font-size: 14px;
      }
      .cardinfo .currentLevel {
        font-size: 20px;
      }
      .userEnd a:hover {
        text-decoration: underline;
      }
    }
  }
.page-content {
  margin-top: @descSpace;
}
.col-auto {
  width: 25%;
  margin-top: 77px;
  text-align: right;
  padding-right: 85px;
  .nav-tabs .nav-link {
    border: 0;
    box-sizing: border-box;
    padding: 0;
    font-weight: 400;
    line-height: 24px;
    background: transparent;
    color: #8e8e8e;
  }
  .nav-tabs .nav-link.active {
    font-weight: 700;
    color: #1c1c1c;
  }
}
//order
#orderlist-Box {
  margin-bottom: 40px;
  // height: 1278px;
}
.order-title {
  display: flex;
  padding:0 22px;
  margin: 0;
  font-weight: 700;
  .order-title-list {
    padding: 0 5px;
  }
  .order-title-list-status {
    display: flex;
    justify-content: space-between;
  }
  img {
    width: 9px;
    cursor: pointer;
  }
}
.order-title-line {
  width: 100%;
  height: 1px;
  border: 0;
  margin: 18px 0 0;
  background: @borderColor;
}
#order-list {
  li {
    border-bottom: 0.5px solid #f5f5f5;
    line-height: 65px;
  }
  .order-list-info {
    margin: 0;
    padding: 0 22px;
    .order-list-box {
      padding: 0 5px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: context-menu;
    }
  }
  .see-info {
    text-align: right ;
    img {
      width: 9px;
      cursor: pointer;
    }
  }
  .order-list-prd {
    width: 100%;
    padding: 20px 22px;
    line-height: normal;
    background: #f5f5f5;
    .waybill {
      margin: 0 0 20px 0;
    }
    .storeId {
      padding: 0 5px;
      display: flex;
      justify-content: flex-start
    }
    .storeId-title, .waybll-num-title {
      font-size: @font-size;
      font-weight: 700;
    }
    .storeId-con, .waybill-num-con {
      font-size: @font-size;
      padding: 0 5px;
    }
    .storeId-title, .storeId-con {
      flex: 1;
    }
    .waybll-num-title {
      padding: 0 14px 0 5px;
    }
    .order-detail {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .order-prd-box {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0;
    }
    .to-product {
      display: flex;
      width: 100%;
    }
    .order-prd-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 90px;
      background: #fff;
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
    .order-prd-info {
      margin-left: 15px;
      width: calc(100% - 105px);
    }
    .order-prd-designername {
      font-size: @fontStandard;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .order-prd-productname {
      font-size: @font-size;
      font-weight: 300;
      color: #8e8e8e;
      margin-bottom: 10px;
    }
    .order-prd-size {
      display: flex;
      justify-content: flex-start;
      line-height: 18px;
    }
    .order-size-kind {
      font-weight: 700;
    }
    .order-size-con {
      padding-left: 10px;
    }
    .order-quantity {
      margin-left: 20px;
    }
    .order-prd-price {
      padding: 0;
    }
    .order-prd-price-list {
      line-height: 16px;
      display: flex;
      border: none;
    }
    .order-price-list-title {
      flex: 1;
      padding-right: 10px;
      text-align: right;
    }
    .order-price-num {
      flex: 1;
      text-align: left;
    }
    .order-prd-status {
      padding: 0 5px;
    }
    .after-sale {
      margin-bottom: 10px;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
.page-right {
  // myloyalty
  .title-part {
    font-size: 20px;
    font-weight: 300;
  }
  #rankbox {
    margin-bottom: 20px;
  }
  .levelinfo {
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    .levelBenefits, .userleveldes {
      width: 49.5%;
      height: 300px;
      background: @bgColor;
    }
    .levelBenefits {
      padding: 10px;
    }
    .levelBenefitscon {
      background: #fff;
      padding: 5px;
      width: 100%;
      height: 100%;
    }
    .leveltitle {
      font-weight: 700;
    }
    .Member-failure {
      font-weight: 300;
      margin-top: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .tointro{
      width: 18px;
      height: 18px;
      border-radius: 50%;
      margin-left: 6px;
      line-height: 18px;
      margin-bottom: 2px;
    }
    .tointro img{
      width: 16px;
    }
    .current-L {
      width: 276px;
      height: 69px;
      margin: 10px auto 0;
    }
    .level-rights {
      padding-left: 0;
      list-style: none;
      text-align: left;
      margin-left: 100px;
      margin-top: 20px;
    }
    .levelrightsliat span{
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #000;
      margin-right: 15px;
    }
  }
  .userleveldes {
    padding: 10px;
  } 
  .conbox{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 144px;
    .con {
      position: relative;
      height: 144px;
      width: 144px;
      border-radius: 50%; 
    }
    .percent-circle {
      position: absolute;
      height: 144px;
      width: 144px;
      border-radius: 50%;
    }
    .percent-circle.gold {
      background: #D3B880;
    }
    .percent-circle.bronze {
      background: #D3A38B;
    }
    .percent-circle.sliver {
      background: #959595;
    }
    .percent-circle.platinum {
      background: #E6E6E6;
    }
    .left-content, .right-content {
      position: absolute;
      height: 144px;
      width: 144px;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0px 0px 1px 1px #f5f5f5;
    }
    .percent-circle-right, .right-content {
      clip: rect(0, auto, auto, 72px);
    }
    .percent-circle-left, .left-content {
      clip: rect(0, 72px, auto, 0);
    }
    .text-circle {
      position: absolute;
      top: 12px;
      left: 12px;
      height: 120px;
      width: 120px;
      background: @bgColor;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }   
    .percentage {
      font-size: 24px;
      font-weight: 700;
    }
    .txt {
      font-size: @font-size;
    }
    .condes {
      font-size: 14px;
      font-weight: 700;
      margin-left: 16px;
      text-align: left;
    }   
    .level-rights {
      padding-left: 0;
      list-style: none;
      text-align: left;
      margin-top: 20px;
      font-weight: 100;
      margin-left: 0;
      font-size: @font-size;
    }
    .levelrightsliat span{
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #000;
      margin-right: 15px;
    }
  }
  .userleveldes .Member-failure br{
    display: none;
  }
  .toleveldes {
    display: block;
    margin-top: 20px;
  }
  .toleveldes:hover {
    text-decoration: underline;
  }
  .num-days {
    margin-top: @descSpace-s;
  }
  #consume-box {
    margin-top: @descSpace;
    .title-part{
      font-size: 20px;
      font-weight: 300;
    }
    #consume-title {
      width: 100%;
      height: 34px;
      margin-top: 36px;
      text-align: left;
      border-bottom: 1px solid #ededed;
    }
    #consume {
      padding: 0;
      height: 756px;
    }
    #consume li {
      list-style: none;
      width: 100%;
      line-height: 65px;
      border-bottom: 0.5px solid #ededed;
      .record_info{
        text-align: left;
        width: 100%;
        overflow: hidden;
      }
      .consume-item {
        background: #fff;
        height:96px;
        padding-right: 30px;
        .openitem {
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
        .openitem li{
          line-height: 32px;
          border: 0;
          display: flex;
          justify-content: flex-end;
          width: 250px;
        }
        .openitem .itemtitle {
          flex: 1;
        }
        .openitem .itemcon {
          flex: 3,
        }
      }
      .see-more {
        box-sizing: border-box;
        cursor: pointer;
      }
      .see-more img {
        width: 9px;
      }
    }
  }
  .page-item.active .page-link {
    color: @fontColor;
    border: 0;
    background-color: #ebebeb;
    outline: none;
    box-shadow: none;
  }
  .pagination>li>a, .pagination>li>span{
    color: @fontColor;
    outline: none;
    box-shadow: none;
    margin-left:1px;
    border: 0;
    box-sizing: border-box;
  }
  .page-item.disabled .page-link {
    margin-left:1px;
    border: 0;
  }
  .page-item.active .page-link:focus {
    outline: none;
    box-shadow: none;
  }
}
@media(max-width: 1199px) {
  .mobile-only {
    display: block;
  }
  .col-auto {
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 0;
    background: #fff;
    .nav-tabs {
      margin-top: 20px;
      padding: 0 5%;
      .nav-link {
        line-height: unset;
      }
    }
    .nav-item {
      text-align: left;
      line-height: 40px;
      border-bottom: 0.5px solid #8e8e8e;
    }
    .tab-backbtn {
      border-bottom: 1px solid #f1f1f1;
      font-size: 14px;
      text-align: left;
      line-height: 50px;
      background: #FFF;
      padding: 0 5%;
    }
  }
  .mobile-tabbtn {
    font-weight: 700;
    border: @border;
    line-height: 36px;
  }
  .membershippage {
    width: 100%;
  }
  .userInfoBox {
    height: 280px;
  }
  .userInfoinnerBox {
    width: 100%;
    height: 100%;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    .userinfo {
      padding-top: 15px;
      display: block;
      img {
        width: 80px;
        height: 80px;
      }
      .info {
        width: 100%;
        margin: 20px auto 0;
        text-align: center;
      }
    }
    .levelcard {
      display: none;
    }
  }
  .page-content {
    margin-top:10px;
    padding:  10px;
  }
  .tabs {
    margin: 0px;
  }
  .tab-content.col {
    padding: 0;
  }
  // order
  #order-list {
    .order-list-info {
      padding: 0;
      .order-list-box {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        line-height: 30px;
      }
      .order-list-title {
        font-weight: 700;
      }
      .order-list-con {
        font-weight: 300;
      }
      .see-info {
        height: 30px;
        justify-content: center;
      }
    }
    .order-list-prd {
      padding: 20px 10px;
      .storeId {
        padding: 0;
      }
      .waybll-num-title {
        padding: 0;
        text-align: left;
      }
      .storeId-con, .waybill-num-con {
        padding: 0;
        text-align: right;
        font-weight: 300;
      }
      .waybll-num-title, .waybill-num-con {
        margin-top: 10px;
      }
      .order-detail {
        display: block;
      }
      .order-prd-box {
        margin-bottom: 10px;
      }
      .order-prd-price-list {
        padding-bottom: 10px;
      }
      .order-price-list-title {
        text-align: left;
        font-weight: 700;
      }
      .order-price-num {
        text-align: right;
        font-weight: 300;
      }
      .order-prd-status {
        padding: 0;
        text-align: right;
      }
    }
  }
  .page-right {
    width: 100%;
    margin-top: 20px;
    // order
    .order-title {
      display: none;
    }
    .order-title-line {
      display: none;
    }
   
    .levelinfo {
      margin-top: 20px;
      flex-direction: column;
      align-content: center;
      .levelBenefits, .userleveldes {
        width: 100%;
        height: auto;
      }
      .current-L img {
        width: 90%;
      }
      .level-rights {
        margin-left: 50px;
      }
    }
    .userleveldes {
      margin-top: 10px;
    }
    .conbox {
      margin-top: 20px;
      display: block;
      height: auto;
      .con {
        margin: 0 auto;
      }
      .condes {
        margin-left: unset;
        margin-top: 15px;
        text-align: center;
      }
      .condes br {
        display: none;
      }
      .level-rights {
        margin-top: 15px;
        margin-left: 55px;
      }
    }
    .userleveldes .Member-failure br{
      display: block;
    }
    .num-days {
      margin-top: 30px;
    }
    #consume-box {
      margin-top: 40px;
      #recordbox {
        width: 100%;
        overflow-x: scroll;
      }
      #consume-title {
        margin-top: 20px;
        width: 500px;
      }
      #consume {
        width: 500px;
      }
    }
  }
}