@import 'common.less';
.container {
	text-align:center;
}
.keepRight {
  text-align: right;
}
.keepLeft {
  text-align: left;
}
img {
	max-width: 100%;
	max-height: 100%;
}
.bannerimg {
	width: 100%;
	background: #f5f5f5;
}
.totalSaving {
	margin-top: 75px;
	.username {
		font-size: 26px;
		font-weight: 300;
	}
	.memberStartTime {
		font-size: 16px;
		font-weight: 700;
	}
	.savingProportion {
		margin-top: 100px;
		.title {
			font-size: 24px;
			font-weight: 700;
			text-align: center;
		}
		.proportionbox {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 33px;
			margin-top: 141px;
		}
		.start, .end {
			font-size: 16px;
			font-weight: 700;
			padding: 0 10px;
		}
		.proportionImg {
			width: 836px;
			height: 100%;
			background: #f5f5f5;
			position: relative;
		}
		.proportionitem {
			position: absolute;
			// width: 30%;
			height: 100%;
			background: #F8472B;
		}
		.savingnum {
			position: absolute;
			top:-35px;
		}
		.tooltip {
			position: relative;
			width: 100%;
			height: 34px;
			opacity: 1;
		}
		.arrow {
			left: 50%;
			margin-left: -5px;
		}
		.arrow::before {
			border-top-color: #1c1c1c;
		}
		.tooltip-inner {
			border-radius: 0;
			padding: 0 5px;
			line-height: 24px;
			background-color: #1c1c1c;	
			font-size: 16px;
		}
	}
	.detailsBox {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-top:180px;
		margin-bottom: 100px;
		.item {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
		}
		.itemtitle {
			font-size: 24px;
			font-weight: 700;
		}
		.itemNum {
			margin-top: 45px;
			width: 130px;
			height: 130px;
			border-radius: 50%;
			background: rgba(248, 71, 43, 0.1);
			line-height: 130px;
			font-size:40px;
			font-weight: 300;
		}
	}
}
.bestDeal {
	.title {
		width: 100%;
		height: 130px;
		line-height: 130px;
		font-size: 32px;
		font-weight: 700;
	}
	.dealDetail {
		margin-top: 100px;
		display:flex;
		justify-content: flex-start;
		padding: 0 173px;
	}
	.dealitem {
		width: 326px;
		position: relative;
	}
	.dealitem.overall {
		margin-left: 112px;
	}
	.imgbox {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		.img {
			width: 150px;
			height: 150px;
		}
		.designername {
			width: 100%;
			margin-top: 38px;
			font-size: 18px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.prdname {
			width: 100%;
			font-size: 18px;
			font-weight: 300;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	.savingbox {
		margin-top: 35px;
		.itemtitle {
			font-size: 24px;
			font-weight: 700;
		}
		.moneyNum {
			font-size: 50px;
			font-weight: 700;
		}
		.proportion {
			height: 26px;
		}
		.proportion_modesens {
			width: 100%;
			background: #ECE8E7;
		}
		.proportion_user {
			background:  #F8472B;
		}
	}
  .markimg {
    position: absolute;
    width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: rgba(255, 255, 255, 0.8);
  }
  .noprocon {
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
  }
}
.productCategories {
	margin-top: 100px;
	padding: 45px 103px;
	.title {
		font-size: 32px;
		font-weight: 700;
	}
	.histogrambox {
		position: relative;
		.histogram {
			margin: 100px auto 0;
		}
		.yAxis {
			position: absolute;
			left: 0;
			top: 50%;
			transform: rotate(-90deg);
			-ms-transform: rotate(-90deg);
			-moz-transform: rotate(-90deg);
			-webkit-transform: rotate(-90deg);
			-o-transform: rotate(-90deg); 
			line-height: 24px;
			font-size: 18px;
			font-weight: 700;
		}
		.xAxis {
			position: absolute;
			left: 50%;
			bottom: 0;
			width: 148px;
			line-height: 24px;
			font-size: 18px;
			font-weight: 700;
			margin-left: -74px;
		}
	}
}
.topdesigner {
	margin-top: 95px;
	.title {
		font-size: 32px;
		font-weight: 700;
	}
	.topdesignerCon {
		margin-top: 95px;
		display: flex;
		justify-content: center;
		.itembox {
			flex: 1;
		}
		.itemtitle {
			font-size: 24px;
			font-weight: 700;
		}
		.piebox {
			width: 454px;
    }
    .imgbox {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .noprocon {
      width: 100%;
      padding: 10px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      font-size: 24px;
    }
	}
}
.lookforward {
	.title {
		height: 130px;
		font-size: 32px;
		font-weight: 700;
		line-height: 130px;
	}
	.contain {
		margin-top: 95px;
		p, b {
			font-size: 28px;
		}
		p {
      margin-bottom: 76px;
      font-weight: 300;
		}
		.itemtitle {
			margin-bottom: 50px;
			font-size: 34px;
		}
	}
	.toloyalty {
		display: inline-block;
		font-size: 20px;
		font-weight: 700;
		&:hover {
			text-decoration: underline;
		}
	}
}
@media(max-width: 1199px) {
	.totalSaving {
    padding: 0 3%;
    margin-top: 20px;
    .username, .memberStartTime {
      font-size: 12px;
      padding: 0 2%;
    }
    .memberStartTime {
      margin-top: 10px;
    }
    .savingProportion {
      margin-top: 50px;
      .title {
        font-size: 16px;
      }
      .proportionbox {
        margin-top: 35px;
        height: 15px;
        position: relative;
        display: block;
        padding:0 9%;
        .start {
          position: absolute;
          left: 6%;
          bottom: -32px;
          padding-left: 0;
          font-size: 12px;
        }
        .proportionImg {
          width: 100%;
        }
        .end {
          position: absolute;
          right: 0;
          bottom: -32px;
          padding-right: 0;
          font-size: 12px;
        }
			}
			.tooltip-inner {
				font-size: 12px;
			}
    }
    .detailsBox {
      margin-top: 72px;
      margin-bottom: 50px;
      display: block;
      .item {
        margin-bottom: 50px;
      }
      .itemtitle {
        font-size: 14px;
      }
      .itemNum {
        width: 80px;
        height: 80px;
        margin-top: 26px;
        font-size: 24px;
        line-height: 80px;
      }
    }
  }
  .bestDeal {
    .title {
      height: 48px;
      line-height: 48px;
      font-size: 16px;
    }
    .dealDetail {
      display: block;
      margin-top: 50px;
      padding: 0 5%;
    }
    .dealitem {
      width: 100%;
    }
    .imgbox {
      width: 210px;
      margin: 0 auto;
      .designername {
        margin-top: 20px;
        font-size: 14px;
      }
      .prdname {
        margin-top: 10px;
        font-size: 12px;
      }
    }
    .savingbox {
      margin-top: 21px;
      .itemtitle {
        font-size: 14px;
      }
      .moneyNum {
        font-size: 24px;
      }
      .proportion {
        margin-top: 10px;
        height: 15px;
      }
    }
    .dealitem.overall {
      margin-left: 0;
      margin-top: 72px;
    }
  }
  .productCategories {
    margin-top: 50px;
    width: 100%;
    padding: 40px 5% 0;
    .title {
      font-size: 16px;
    }
    .histogrambox {
      .histogram {
        margin: 50px auto 0;
      }
      .yAxis {
        width: 100px;
        top: 0;
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg); 
        line-height: 18px;
        font-size: 14px;
        font-weight: 300;
        margin-top: 0;
      }
      .xAxis {
        line-height: 18px;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
  .topdesigner {
    margin-top: 50px;
    width: 100%;
    padding: 0 5%;
    .title {
      font-size: 16px;
    }
    .topdesignerCon {
      display: block;
      margin-top: 50px;
      .itemtitle {
        font-size: 14px;
      }
      .piebox {
        width: 100%;
      }
    }
  }
  .lookforward {
    margin-top: 50px;
    .title {
      font-size: 16px;
      height: 48px;
      line-height: 48px;
    }
    .contain {
      margin-top: 50px;
      padding: 0 5%;
    }
    .contain p, .contain b {
      font-size: 20px;
    }
    .contain p {
      margin-bottom: 30px;
    }
  }
}