/*SuisseIntl*/
/* 
Medium: bolder/bold/700
Regular: normal/400
Light: 300
Thin: 100
*/
@font-face {
  font-family: 'SuisseIntl';
  font-weight: bolder;
  font-display: swap;
  src: url('~/static/fonts/SuisseIntl-Medium.otf');
}

@font-face {
  font-family: 'SuisseIntl';
  font-weight: bold;
  font-display: swap;
  src: url('~/static/fonts/SuisseIntl-Medium.otf');
}

@font-face {
  font-family: 'SuisseIntl';
  font-weight: normal;
  font-display: swap;
  src: url('~/static/fonts/SuisseIntl-Regular.otf');
}

@font-face {
  font-family: 'SuisseIntl';
  font-weight: 300;
  font-display: swap;
  src: url('~/static/fonts/SuisseIntl-Light.otf');
}

@font-face {
  font-family: 'SuisseIntl';
  font-weight: 100;
  font-display: swap;
  src: url('~/static/fonts/SuisseIntl-Thin.otf');
}