@import 'common.less';

* {
  font-family: 'SuisseIntl','Lato';
  color: @fontColor;
  font-size: @font-size;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }
a {
  color: @fontColor;
  text-decoration: none;
  outline: 0;
  &:hover {
    color: @fontColor;
    text-decoration: none;
  }
  &:focus {
    color: @fontColor;
    text-decoration: none;
    border: none;
    box-shadow: none;
  }
}
ul {
  list-style: none;
}
.btn-modesens,
.btn-primary,
.btn-success {
  color: @btnFontColor;
  background: @btnBgColor;
  border-radius: 0;
  border-color: @btnBgColor;
  &:hover {
    color: @btnFontColor;
  }
  &:disabled,
  &.disabled {
    background: @btnBgColor;
    border-color: @btnBgColor;
  }
}
.modal-header {
  background: #ecedef;
}
ul {
  padding: 0;
  margin: 0;
}
.daterangepicker,
.dropdown-menu {
  border-radius: 0 !important;
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-left:before {
  content: "<";
}
.glyphicon-chevron-right:before {
  content: ">";
}
@media(max-width: 1199px) {
  .container {
    padding: 0;
  }
}