{% extends frame %}
{% load helper %}
{% block head_extra %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% if request.COUNTRY != 'cn' %}
<!-- Google Analytics Content Experiment code --> 
<script>
    function utmx_section(){}function utmx(){}(function(){var k='92191193-57',d=document,l=d.location,c=d.cookie; if(l.search.indexOf('utm_expid='+k)>0)return; function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c. length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write( '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl': '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+ '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date(). valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+ '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})(); 
</script>
<script>utmx('url','A/B');</script> 
<!-- End of Google Analytics Content Experiment code -->
{% endif %}

{% if LANGUAGE_CODE == 'zh' %}
<title>ModeSens - 首席购物助手</title>
<meta name="description" content="全球购物网站搜索门户官网，当季新品折扣比价助手攻略，美国亚马逊6PM海外欧洲网站海淘代购用户最常使用工具，女装女鞋女包打折海外时尚资讯潮流前沿，明星潮人达人晒搭社区分享，代购转运干货经验|ModeSens"/>
<meta name="keywords" content=" 海淘网，海淘亚马逊Amazon，海淘攻略代购转运教程，奢侈品购物网站品牌排行榜，海外国际购物进口官方网站，真皮正品女包女鞋男包男鞋,Neiman Marcus, Nordstrom, Farfetch, Luisaviaroma, Saks, Barneys, MatchesFashion, Netaporter, Net a porter, Mr Porter, Harrods, Ssense, Bergdorf Goodman, Yoox, Stylebop,Prada, Gucci, Aquazzura, Christian Louboutin"/>
{% else %}
<title>ModeSens - The Premier Shopping Assistant</title>
<meta name="description" content="ModeSens is a fashion shopping search engine to help you find exactly what you want by compiling all the best prices, sizes, availability for over millions of products from 160+ selected stores around the world — all in one place."/>
<meta name="keywords" content="The real time discount and availabilities,save your time and money.Find the top fashion mode and colletctions.There are Prada,LV,Gucci,Chanel,Dior,MOSCHINO,Fendi，Alexander McQueen,Dunhill,Versace including womens handbags,clothings,heels,backpacks,hats,accessories.For mens wear,T-shirts,ties,jackets,bags,sneaker and footwear Neiman Marcus, Nordstrom, Farfetch, Luisaviaroma, Saks, Barneys, MatchesFashion, Netaporter, Net a porter, Mr Porter, Harrods, Ssense, Bergdorf Goodman, Yoox, Stylebop"/>
{% endif %}
<meta name='twitter:url' content='{{settings.DOMAIN}}/'>
<meta name='twitter:title' content='ModeSens - The Premier Shopping Assistant'>
<meta name='twitter:description' content='ModeSens is a fashion shopping search engine to help you find exactly what you want by compiling all the best prices, sizes, availability for over millions of products from 160+ selected stores around the world — all in one place.'>
{% if request.LANGUAGE == "zh" %}
<meta name='twitter:image' content='{{ request.STATIC_DOMAIN }}{{ config.MS_LOGO_V2_ZH }}'>
<meta property="og:image" content="{{ request.STATIC_DOMAIN }}{{ config.MS_LOGO_V2_ZH }}"/>
{% else %}
<meta name='twitter:image' content='{{ request.STATIC_DOMAIN }}{{ config.MS_LOGO_V2_EN }}'>
<meta property="og:image" content="{{ request.STATIC_DOMAIN }}{{ config.MS_LOGO_V2_EN }}"/>
{% endif %}
<meta property="og:title" content="ModeSens - The Premier Shopping Assistant"/>
<meta property="og:description" content="ModeSens is a fashion shopping search engine to help you find exactly what you want by compiling all the best prices, sizes, availability for over millions of products from 160+ selected stores around the world — all in one place."/>
<meta property="og:url" content="{{settings.DOMAIN}}/"/>

<link rel="stylesheet" type="text/css" href="{{ request.STATIC_DOMAIN }}/static/css1/plug-in-unit/swiper/swiper-3.4.0.min.css" />
<link rel="stylesheet" type="text/css" href="{{ request.STATIC_DOMAIN }}/static/css1/core/newindex6.css"/>
<link rel="stylesheet" type="text/css" href="{{ request.STATIC_DOMAIN }}{{config.CSS_ON_BOARDING}}">
<link rel="stylesheet" type="text/css" href="{{ request.STATIC_DOMAIN }}{{config.CSS_JQUI}}" media="none" onload="if(media!='all')media='all'">
<link rel="stylesheet" type="text/css" href="{{ request.STATIC_DOMAIN }}{{config.CSS_BOOTSTRAPSLIDER}}">
{% endblock %}

{% block body_body %}
{% if LANGUAGE_CODE == 'zh'%}
<span id='seo'>
    <h1>奢侈品导购门户比价实用工具|海淘代购网站攻略秘籍|轻奢时尚打折资讯信息</h1>
    <h2>全球购物网站搜索门户官网，当季新品折扣比价助手攻略，美国亚马逊6PM海外欧洲网站海淘代购用户最常使用工具，女装女鞋女包打折海外时尚资讯潮流前沿，明星潮人达人晒搭社区分享，代购转运干货经验|ModeSens</h2>
</span>
{% else %}
<span id='seo'>
    <h1>Luxury Shopping Search Engine. Discounted designer product. Price Comparison. Help you quickly find what and where to buy.</h1>
    <h2>ModeSens is a fashion shopping search engine to help you find exactly what you want by compiling all the best prices, sizes, availability for over millions of products from 160+ selected stores around the world — all in one place.</h2>
</span>
{% endif %}
<div class="ms_about">
    <div class="ms_intro">{% trans "ModeSens is the premier<br>shopping assistant." %}</div>
    <a href="/about/">{% trans "Learn More" %}</a>
    <button class="close ms_about_close" onclick="ms_about_close()"><span>X</span></button>
</div>
<div class="banner-swiper_1">
    <div id='banner-swiper' class="swiper-container">
        <div class="swiper-wrapper"></div>
        <!-- 分页器 -->
        <div class="swiper-pagination swiper-p1"></div>
    </div>
    <!-- 如果需要导航按钮 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<div class='container'>
    <div class="beneftis">
        <div class="beneftis_title">{% trans "THE BENEFITS OF MODESENS" %}</div>
        <div class="beneftis_con">
            <div class="each_con">
                <div class="con_left"><img src="{{ request.STATIC_DOMAIN }}/static/img/20180905benef_everything_in_one_place.svg" alt=""></div>
                <div class="con_right">
                    <div class="each_title">{% trans "EVERYTHING IN ONE PLACE" %}</div>
                    <div class="each_desc">{% trans "Compare products and price with access to 12,000+ luxury brands and 160+ stores." %}</div>
                    <div class="each_bottom">
                        <a href="/product/women/#page=1&category=c">{% trans "Shop Women" %}</a>
                        <a href="/product/men/#page=1&category=c" style="margin-left: 15px;">{% trans "Shop Men" %}</a>             
                    </div>
                </div>
            </div>
            <div class="each_con">
                <div class="con_left"><img src="{{ request.STATIC_DOMAIN }}/static/img/20180905benef_on_top_of_it.svg" alt=""></div>
                <div class="con_right">
                    <div class="each_title">{% trans "ON TOP OF IT" %}</div>
                    <div class="each_desc">{% trans "Keep track of your favorite stores, products and get the most accurate product information." %}</div>
                    <div class="each_bottom">
                        {% if lsuser %}
                        <a href="/accounts/profile/">{% trans "Set My Profile" %}</a>
                        {% else %}
                        <a href="/accounts/signup/">{% trans "Create an Account" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="beneftis_con">
            <div class="each_con">
                <div class="con_left"><img src="{{ request.STATIC_DOMAIN }}/static/img/20180905benef_join_our_community.svg" alt=""></div>
                <div class="con_right">
                    <div class="each_title">{% trans "JOIN OUR COMMUNITY" %}</div>
                    <div class="each_desc">{% trans "Share your favorite likes, your best looks, and get inspiration from your peers." %}</div>
                    <div class="each_bottom">
                        <a href="/looks/">{% trans "Our Community" %}</a>
                    </div>
                </div>
            </div>
            <div class="each_con">
                <div class="con_left"><img src="{{ request.STATIC_DOMAIN }}/static/img/20180905benef_personal_shopping_assistant.svg" alt=""></div>
                <div class="con_right">
                    <div class="each_title">{% trans "MODESENS SHOPPING ASSISTANT" %}</div>
                    <div class="each_desc">{% trans "Complete your shopping experience with our patented browser extension." %}</div>
                    <div class="each_bottom">
                        <a href="javascript:;" onclick="addToYourBrowser()">{% trans "Add to Your Browser" %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div id='banner-swiper_5' class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="con_left"><img src="{{ request.STATIC_DOMAIN }}/static/img/20180905benef_everything_in_one_place.svg" alt=""></div>
                    <div class="con_right">
                        <div class="each_title">{% trans "EVERYTHING IN ONE PLACE" %}</div>
                        <div class="each_desc">{% trans "Compare products and price with access to 12,000+ luxury brands and 160+ stores." %}</div>
                        <div class="each_bottom">
                            <a href="/product/women/#page=1&category=c">{% trans "Shop Women" %}</a>
                            <a href="/product/men/#page=1&category=c" style="margin-left: 15px;">{% trans "Shop Men" %}</a>             
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="con_left"><img src="{{ request.STATIC_DOMAIN }}/static/img/20180905benef_on_top_of_it.svg" alt=""></div>
                    <div class="con_right">
                        <div class="each_title">{% trans "ON TOP OF IT" %}</div>
                        <div class="each_desc">{% trans "Keep track of your favorite stores, products and get the most accurate product information." %}</div>
                        <div class="each_bottom">
                            {% if lsuser %}
                            <a href="/accounts/profile/">{% trans "Set My Profile" %}</a>
                            {% else %}
                            <a href="/accounts/signup/">{% trans "Create an Account" %}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="con_left"><img src="{{ request.STATIC_DOMAIN }}/static/img/20180905benef_join_our_community.svg" alt=""></div>
                    <div class="con_right">
                        <div class="each_title">{% trans "JOIN OUR COMMUNITY" %}</div>
                        <div class="each_desc">{% trans "Share your favorite likes, your best looks, and get inspiration from your peers." %}</div>
                        <div class="each_bottom">
                            <a href="/looks/">{% trans "Our Community" %}</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="con_left"><img src="{{ request.STATIC_DOMAIN }}/static/img/20180905benef_personal_shopping_assistant.svg" alt=""></div>
                    <div class="con_right">
                        <div class="each_title">{% trans "ModeSens SHOPPING ASSISTANT" %}</div>
                        <div class="each_desc">{% trans "Complete your shopping experience with our patented browser extension." %}</div>
                        <div class="each_bottom">
                            <a href="/shopping-assistant/">{% trans "Add to Your Browser" %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 分页器 -->
            <div class="swiper-pagination swiper-p5"></div>
        </div>
        <div class="learn_more">
            <a href="/about/" class='btn-default btn'>{% trans "LEARN MORE"%}</a>
        </div>
    </div>

    <div class="img_page">
        <a class="img_con img_left" href="/product/women/" onclick="changeGender('f')">
            <img src="{{ request.STATIC_DOMAIN_IMG }}/static/img/20181102shopWomen.jpg" alt="">
            <span class="img_btn">{% trans "Shop Women" %}</span>
        </a>
        <a class="img_con img_right" href="/product/men/" onclick="changeGender('m')">
            <img src="{{ request.STATIC_DOMAIN_IMG }}/static/img/20181102shopMen2.jpg" alt="">
            <span class="img_btn">{% trans "Shop Men" %}</span>
        </a>
    </div>

    <div id='banner-swiper_2' class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="intro_con">
                    <div class="intro_title">{% trans "Shop Smarter" %}</div>
                    <div class="intro_desc">{% trans "Since 2015, ModeSens has been aggregating the best of luxury fashion to deliver a seamless experience and take your style to the next level. Powered by technology, we strive to be your online personal shopping assistant 24/7 — virtually by your side." %}</div>
                    <a class="intro_btn" href="/about/">{% trans "Learn More" %}</a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="intro_con">
                    <div class="intro_title">{% trans "Everything In One Place" %}</div>
                    <div class="intro_desc">{% trans "ModeSens is the only shopping platform that allows you to compare products and prices across hundreds of stores and thousands of brands, so you can shop confidently knowing you have all the facts." %}</div>
                    <a class="intro_btn" href="/about/">{% trans "Learn More" %}</a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="intro_con">
                    <div class="intro_title">{% trans "Be In The Know" %}</div>
                    <div class="intro_desc">{% trans "Stay up to date on product availability and pricing by setting alerts on your favorite products and designers. ModeSens automatically updates you as soon as new arrivals, back in stock items or sales pop up." %}</div>
                    <a class="intro_btn" href="/about/">{% trans "Create An Account" %}</a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="intro_con">
                    <div class="intro_title">{% trans "Engage In ModeSens Community" %}</div>
                    <div class="intro_desc">{% trans "Share your favorite pieces and best looks, and get inspiration from influencers and your peers in one convenient place. With one-click access to wishlist or shop products, ModeSens makes it easy to keep track of what you own now and create a wishlist for what you want to in the future." %}</div>
                    <a class="intro_btn" href="/about/">{% trans "Visit The Community" %}</a>
                </div>
            </div>
        </div>
        <!-- 分页器 -->
        <div class="swiper-pagination swiper-p2"></div>
    </div>
    
    <!-- 四张图不规则排列 1 -->
    <div class="pages">
        <ul class="each-pages page1-4">
            <li class="each-page"><a href=""><img class="img_needreplace"></a></li>
            <li class="each-page"><a href=""><img class="img_needreplace"></a></li>
            <li class="each-page"><a href=""><img class="img_needreplace"></a></li>
            <li class="each-page"><a href=""><img class="img_needreplace"></a></li>
        </ul>
        <div class="each-pages page5">
            <div class="each-page"><a href=""><img class="img_needreplace"></a></div>
            <button class="btn btn-primary every_con" onclick="window.open('/style/','_self')">{% trans "OLDER POSTS" %}</button>
        </div>
    </div>

    <!-- 四张图不规则排列 1 -->
    <div class="pages">
        <ul class="each-pages page1-4 page6-9">
            <li class="each-page"><a href=""><img class="img_needreplace"></a></li>
            <li class="each-page"><a href=""><img class="img_needreplace"></a></li>
            <li class="each-page"><a href=""><img class="img_needreplace"></a></li>
            <li class="each-page"><a href=""><img class="img_needreplace"></a></li>
        </ul>
    </div>

    <!-- LOOKS -->
    <div class="looks_con">
        <div class="looks_title">{% trans "LOOKS FROM OUR COMMUNITY" %}</div>
        <div id='banner-swiper_4' class="swiper-container">
            <div class="swiper-wrapper">
            </div>
        </div>
        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div>
            <button class="btn btn-primary" onclick="window.open('/looks/','_self')">{% trans "VIEW ALL" %}</button>
        </div>
    </div>

    <!-- review swiper -->
    <div id='banner-swiper_3' class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="intro_con">
                    <div class="intro_title">{% trans "This is sort of like having a personal shopper." %}</div>
                    <div class="intro_desc">{% trans "It makes it so easy to find exactly what I'm looking for. I wish I would have found this site sooner!" %}</div>
                    <div class="intro_btn">Joyce, {% trans "NYC" %}</div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="intro_con">
                    <div class="intro_title">{% trans "Literally the most efficient shopping experience." %}</div>
                    <div class="intro_desc">{% trans "Love that I can see all of the places I can shop for an item online and compare prices. It knows if the product is sold out and in what sizes." %}</div>
                    <div class="intro_btn">Caroline, {% trans "LONDON" %}</div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="intro_con">
                    <div class="intro_title">{% trans "Loving this already!" %}</div>
                    <div class="intro_desc">{% trans "I love curated fashion edits, and even better-being able to keep track of sales from all the sites that I love!" %}</div>
                    <div class="intro_btn">Souhaila, {% trans "MILANO" %}</div>
                </div>
            </div>
        </div>
        <!-- 分页器 -->
        <div class="swiper-pagination swiper-p3"></div>
    </div>

    <!-- DOWNLOAD -->
    <div class="download_con">
        <div class="download_each">
            <div class="download_title">{% trans "Download The App" %}</div>
            <div class="download_img"><a href="https://itunes.apple.com/app/modesens/id976201094" target='_blank'><img src="{{ request.STATIC_DOMAIN_IMG }}/static/img/20180905downloadleft.png" alt='ModeSens iOS App'></a></div>
            <div class="download_title">{% trans "A seamless experience that takes your style to the next level." %}</div>
            <button class="btn btn-primary" onclick="window.open('https://itunes.apple.com/app/modesens-the-premier-shopping-assistant/id976201094', '_blank')">{% trans "DOWNLOAD FROM APP STORE" %}</button>
        </div>
        <div class="download_each">
            <div class="download_title">{% trans "Install the ModeSens<br>Shopping Assistant" %}</div>
            <div class="download_img"><a href="/shopping-assistant/" target='_blank'><img src="{{ request.STATIC_DOMAIN }}/static/img/20180905downloadright.png" alt="ModeSens Shopping Assistant"></a></div>
            <div class="download_title">{% trans "Get timely, accurate product information every time you browse." %}</div>         
            <div class="addToBrowser"></div>
        </div>
    </div>
    
    <!-- popular swiper -->
    <div class="popular_con every_con">
        <div class="looks_title">{% trans "MOST POPULAR" %}</div>
        <div id='banner-swiper_6' class="swiper-container">
            <div class="swiper-wrapper"></div>
        </div>
        <ul class="popular_mobile row"></ul>
    </div>

    <!-- partners -->
    <div class="select_partners">
        <div class="select_title">{% trans "SELECT PARTNERS" %}</div>
        <div class="select_desc">{% trans "We help our users select best stores from the world and monitor their service quality for our users." %}</div>
        <div class="select_img"><img websrc="{{ request.STATIC_DOMAIN_IMG }}/img/home-stores1.svg" mblsrc="{{ request.STATIC_DOMAIN_IMG }}/img/home-stores-mb1.svg" alt=""></div>
        <button class="btn btn-primary" onclick="startShopping()">{% trans "START SHOPPING" %}</button>
    </div>
</div>
{% endblock %}
{%block body_endjs%}
<script src="{{ request.STATIC_DOMAIN }}{{config.JS_BIGPRD}}"></script>
<script src="{{ request.STATIC_DOMAIN }}{{config.JS_JQUI}}"></script>
<!-- <script src="{{ request.STATIC_DOMAIN }}{{config.JS_JQMS}}"></script>
<script src="{{ request.STATIC_DOMAIN }}{{config.JS_JQMSF}}"></script> -->
<script src="{{ request.STATIC_DOMAIN }}{{config.JS_BOOTSTRAPSLIDER}}"></script>
<script src="{{ request.STATIC_DOMAIN }}{{ config.JS_SWIPER }}"></script>
<script src="{{ request.STATIC_DOMAIN }}/static/js1/core/newindex13.js"></script>
<script src="{{ request.STATIC_DOMAIN }}{{ config.JS_ON_BOARDING }}"></script>
<script>
var STATIC_DOMAIN = '{% if request.STATIC_DOMAIN %}{{ request.STATIC_DOMAIN }}{%else%}http://mds0.com{%endif%}';
var CURRENCY = '{{request.COUNTRY|country_currency}}';
var CURRENCY_NAME = '{{request.COUNTRY|country_currencyname}}';
var boardingkind = '6';
$(document).ready( function(){
    if(RCOUNTRY!='cn' && $(window).width()>1199 && LANGUAGE != "zh"){
        $('#onboardingbtn').css('display','flex');
    }
});
</script>
{% endblock %}
