@import '../common.less';

.footer-content {
  a {
    line-height: 1.7em;
    color: #7f7f7f;
    &:hover {
      text-decoration: underline;
    }
  }
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  padding: @sectionSpace 0;
  border-top: @border;
  .footer-title {
    font-size: 1.1em;
    letter-spacing: 0.2rem;
  }
}
.footer-logo {
  width: 150px;
}
.footer-mini-img {
  width: 50px;
  cursor: pointer;
}
.footer-connect-img {
  width: 130px;
}
#footer_form {
  width: 100%;
  // .custom-control-label::before {
  //   display: none;
  // }
  // .custom-control-label::after {
  //   top: -0.25rem;
  //   left: -2rem;
  //   width: 2rem;
  //   height: 2rem;
  //   background-size: unset;
  //   background-image: url('/img/unchecked.svg');
  // }
  // .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  //   background-image: url('/img/checked.svg');
  // }
}
.footer-bottom {
  overflow: hidden;
  border-top: 0.5px solid #929292;
  padding-top: 28px;
  padding-bottom: 30px;
}
.footer-logo-con {
  img {
    width: 34px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }
  span {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
  }
}
#footer_female[type='radio'],
#footer_male[type='radio'] {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: url('/img/unchecked.svg');
  margin-top: 2px;
  margin-left: 0px;
  cursor: pointer;
  position: absolute;
  border: none;
}
#footer_female[type='radio'] {
  margin-left: 0;
}
#footer_female[type='radio']:checked,
#footer_male[type='radio']:checked {
  -webkit-appearance: none;
  background: url('/img/checked.svg');
}
#footer_female[type='radio']:focus,
#footer_male[type='radio']:focus {
  background: url('/img/checked.svg');
}
#inviteModal {
  h3 {
    margin-top: 20px;
    padding: 15px;
    font-weight: normal;
  }
  .invite-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
      padding: 7px 20px;
      font-size: 18px;
    }
  }
  .btn-secondary {
    margin-right: 5px;
    color: #333;
    background-color: @btnFontColor;
    border-color: @borderColor;
    &:hover {
      color: @btnFontColor;
      background-color: @btnBgColor;
      border-color: @btnBgColor;
    }
  }
}